h1 {
    color:blue
}
.index{
    font-family: 'Montserrat', sans-serif;font-size: 4em; font-weight: normal;
}
.body_obj {
    background-color:bisque
}
nav{
    background-color: red;
    text-align: center;
}
